body {
    width: 1280px;
    margin: 0 auto;
    color: #fff;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.hemepage-heder {
    min-height: 1024px;
    background-image: url(../img/bg_photo_11949.png);
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}

.hemepage-header-wrp {
    display: flex;
    margin: 0 0 0 0;
    padding: 2px 1px 3px 0;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 186px;
    text-decoration: none;
    color: #fff;
}

.logo-svg {
    fill: currentColor;
}

.logo:hover .logo-icon {
    fill: brown;
}

.logo:hover .logo-txt {
    color: brown;
}

.logo:active .logo-icon {
    fill: gold;
}

.logo:active .logo-txt {
    color: gold;
}

.logo-icon {
    fill: #fff;
}

.logo-txt {
    font-family: raleway, arial, sans-serif;
    font-size: 33px;
}

.menu-navigacion {
    width: 780px;
}

.menu-header-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.menu-link {
    text-decoration: none;
    margin: 0px 0px 0 0;
    padding: 0px 0px 3px 0;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    font-family: Montserrat;
    color: #fff;
}

input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url('../img/icon_search_12272.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #323636;
}

input[type="search"]:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
}

.basket {
    width: 24px;
    height: 24px;
}

.carusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    min-height: 550px;
   
}

.carusel-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 0;
}

.carusel-content {
    display: flex;
    width: 50%;
    min-height: 270px;
    justify-content: center;
    flex-direction: column;
}

.carusel-title {
    text-align: center;
    display: block;
    font-family: Raleway;
    line-height: 1.2;
}


.carusel-title1 {
    font-size: 36px;
    font-weight: 500;
}

.carusel-title2 {
    font-size: 52px;
    font-weight: 800;
}

.carusel-text {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    word-wrap: break-word;
    hyphens: auto;
}

.carusel-link {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link-btn {
    border-radius: 3px;
    padding: 10px 0;
    width: 170px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    word-break: break-all;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
}

.link-btn:hover {
    color: black;
    background-color: #fff;
}

.link-btn:active {
    color: #fff;
    background-color: black;
}

.carusel-btn {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid yellow;
}

.carusel-btn:nth-of-type(1) {
    margin: 0 50px 0 0;
}

.carusel-btn:nth-of-type(2) {
    margin: 0 0 0 50px;
}

.carusel-pagination {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.carusel-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border-radius: 50%;
    opacity: 0.5;
  border: 2px solid transparent;
}

.carusel-pagination-item:hover {
  background-color: transparent;
 width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
}















